* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  font-family: $font-family;
  line-height: 1.4;
 
}

body {
  margin: 0;
  padding: 0;
 
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.excel {
  position: relative;
  max-width: 100%;
  color: #888;
  font-size: .8rem;
}
